:root {
  /* Colours */
  --color-text: #d6d6e0;
  --color-primary:  #a19cad;
  --color-secondary: #ACB0BD;
  --color-dark: #416165;
  --color-bg:  #0B3948;

  /* Fonts */
  --font-roboto: "Roboto";
}
